<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Add Node.js handler to the configuration -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <!-- Optional: Add URL Rewrite rules if necessary -->
      <rules>
        <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <!-- Optional: Example of blocking specific file types -->
        <fileExtensions>
          <add fileExtension=".exe" allowed="false" />
          <add fileExtension=".bat" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
